# A bit of a hack useful to ignore binaries (actually files without extension).
# ignore all
*
# unignore files with extensions
!*.*
# Unignore all directories
!*/

# compiled mex-files
matlab/mex/*/*.mexa64

*.o
